@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: roboto;
}
.box {
	background-color: navy !important;
	height: auto !important;
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	width: 50% !important;
	margin: 20% auto !important;
	color: white !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.box button {
	background-color: green !important;
	display: flex !important;
	justify-content: center !important;
	border: none !important;
	padding: 10px 20px 10px 20px !important;
	color: white !important;
	border-radius: 8px !important;
	font-weight: 600 !important;
	cursor: pointer !important;
	font-size: 16px !important;
	width: 100% !important;
}
.box button:focus {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
@media screen and (max-width: 770px) {
	.box {
		height: auto !important;
		width: 70% !important;
	}
}
@media screen and (max-width: 480px) {
	.box {
		height: auto !important;
		width: 100% !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}
